modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://yqasxgyepqqsglmqdrdr.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxYXN4Z3llcHFxc2dsbXFkcmRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTk5ODAsImV4cCI6MjA4OTE3NTk4MH0.B_l9SGKzW49ibtxrOVY6vpJfS0A-SNQRi9yzU2eMjg4"
